<%- include('header'); -%>
<div class="box" id="heading">
    <h1> This is Ankit Dey </h1>
</div>
    <p>I am a Full stack developer , who is interested to work in emerging projects to gain some experience . Though I have designed some of my own projects.</p>
<%- include('footer'); -%> 
    